.container {
    margin-top: 10%;
    max-width: 400px;
    .card {
        position: relative;
        background-color: #25235C;
        background-clip: padding-box !important;
        border: solid 5px transparent;
        border-radius: 32px;
        padding: 12px;
        .avatar {
            position: relative;
            margin: 0 auto;
            width: 180px;
            height: 180px;
            border: 2px solid white;
            border-radius: 50%;
            border-bottom-color: transparent;
        }
    }
    .user-info {
        display: flex;
        flex-direction: column;
        margin-top: 1.34em;
        p {
            text-align: center;
            border-radius: 6px;
            background-color: #6B61BA;
            padding: 4px;
            margin: 0 20px;
            margin-bottom: 12px;
        }
    }
    mat-toolbar {
        justify-content: center;
        background-color: #25235C;
      }      
}