<div class="container">
    <mat-card class="card text-white" *ngIf="user | async">
        <img mat-card-image class="avatar" [src]="imageUrl | async" *ngIf="this.currentUserService.loginWith$.value !== 'google.com' && (this.imageUrl | async)">
        <ngx-avatar class="d-flex justify-content-center" [name]="(user | async)?.username" size="100" [round]="true" *ngIf="this.currentUserService.loginWith$.value === 'google.com'">
        </ngx-avatar>
        <mat-toolbar color="primary"> Hello {{ (user | async)?.username }} </mat-toolbar>
        <div class="user-info">
            <p>{{ (user | async)?.username }}</p>
            <p>{{ (user | async)?.email }}</p>
        </div>
        <mat-card-actions align="end" *ngIf="this.currentUserService.loginWith$.value !== 'google.com'">
            <button routerLink="edit" mat-button>Edit</button>
        </mat-card-actions>
    </mat-card>
</div>
