<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        routerLink=""
      >
        <img class="bi me-2 logo" src="../assets/icons/fox.png" />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a routerLink="" class="nav-link px-2 text-white">Main</a></li>
        <li>
          <a routerLink="profile" class="nav-link px-2 text-white" *ngIf="(currentUserService.isUserLoggedIn$ | async)">Profile</a>
        </li>
        <li><a routerLink="public-boards" class="nav-link px-2 text-white">Public boards</a></li>
        <li>
          <a routerLink="private-boards" class="nav-link px-2 text-white" *ngIf="(currentUserService.isUserLoggedIn$ | async)">Private boards</a>
        </li>
      </ul>
      <div *ngIf="!(currentUserService.isUserLoggedIn$ | async); else logout">
        <button
          routerLink="authorization/login"
          type="button"
          class="btn btn-outline-light me-2"
        >
          Login
        </button>
        <button
          routerLink="authorization/signup"
          type="button"
          class="btn btn-warning"
        >
          Sign-up
        </button>
      </div>
      <ng-template #logout>
        <div>
          <button routerLink="" type="button" class="btn btn-warning" (click)="signOut()">
            Logout
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</header>
