<div class="window">
  <div class="window__header">
    <div class="window__header__title">
      <h2>task: {{ selectedTask?.name }}</h2>
      <!-- <button (click)="assignTask()">Assign</button> -->
    </div>
    <div class="window__header__column-name">
      <p>in column: {{ selectedColumn?.name }}</p>
    </div>
  </div>
  <div class="window__content">
    <div class="window__content__title">
      <h5 class="title">Description</h5>
      <a (click)="openCloseDescriptionForm()">Edit</a>
    </div>
    <div class="window__content__description">
      <div
        *ngIf="
          !openDescriptionFormToggle && selectedTask?.text;
          else descriptionForm
        "
        (click)="openCloseDescriptionForm()"
        class="task-description"
      >
        <textarea
          [readonly]="true"
          cdkTextareaAutosize
          class="window__content__description__add-content"
          >{{ selectedTask?.text }}</textarea
        >
      </div>
      <ng-template #descriptionForm>
        <a
          class="window__content__description__add-content"
          *ngIf="!openDescriptionFormToggle; else form"
          (click)="openDescriptionFormToggle = true"
          style="color: #5e6c84"
          >Add a detailed description...</a
        >
        <ng-template #form>
          <form
            (ngSubmit)="saveDescription()"
            class="window__content__description__edit-container"
          >
            <textarea
              class="description"
              [formControl]="description"
              type="string"
              cdkTextareaAutosize
              #textArea
              ></textarea
            >
            <div class="buttons">
              <button mat-raised-button color="primary" type="submit">
                Save
              </button>
              <button
                type="button"
                mat-raised-button
                (click)="openCloseDescriptionForm()"
              >
                Cancel
              </button>
            </div>
          </form>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <!-- Section for comments -->
  <div class="window__comments">
    <p>Тут повинні бути коментарі</p>
  </div>
</div>
