.google {
    width: 180px;
    margin-top: 6px;
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 12px;
        border: 1px solid #dadce0;
        border-radius: 4px;
        transition: background-color 0.2s;
        &:hover {
            background-color: #f8f9fa;
        }
    }
    &__logo {
        height: 18px;
        width: 18px;
        margin-right: 8px;
    }
    &__text {
        font-family: "Google Sans",arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
}
