:host {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}