<div class="wrapper bg-dark text-white">
    <div class="container">
        <div>
            <div class="d-flex">
                <img src="../assets/icons/fox.png" class="container__logo"><b [ngStyle]="{'font-size': '24px', 'margin': '4px 0 0 4px'}">Foxxy</b>
            </div>
            <p *ngIf="!(currentUserService.isUserLoggedIn$ | async)">
                <a class="container__login" href="authorization/login">Log In</a>
            </p>
        </div>
        <div class="container__list mr-auto">
            <ul>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">About Us</a></li>      
            </ul>
            <ul>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
