@import '~src/assets/styles/_animations';
.main-container {
  margin: 2vw 2vw 0vw 2vw;
  .list-container {
    margin: 0 auto;
    max-width: 1000px;
  }
  h3 {
    color: rgb(151, 146, 146);
    text-align: center;
  }
}

a {
  display: block;
  height: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.boards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
  grid-gap: 15px;
  padding: initial;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.board-tile {
  background-image: url('~src/assets/backgrounds/oriental-tiles.png');
  background-size: cover;
  list-style-type: none;
  padding: 5px;
  width: 190px;
  height: 80px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;

  transition: transform 0.5s;
  .close-button {
    height: 24px;
    position: absolute;
    right: 7px;
    padding: 0;
    min-width: auto;
    // display: none;
    opacity: 0;
    .close-icon {
      vertical-align: inherit!important;
    }
  }
}

.board-tile:hover {
  .close-button {
    // display: inline-block;
    animation: fadeIn 1s forwards;
  }
  background-color: #00000026;
  transform: rotate(2deg);
}

.create-tile {
  background-image: none;
  color: #172b4d;
  background-color: #091e420a;
  a {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
  }
}
