<app-load-spinner *ngIf="isLoading"></app-load-spinner>
<div class="form-container">
  <mat-card>
    <mat-toolbar color="primary" class="bg-dark">Registration</mat-toolbar>
    <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input formControlName="username" matInput type="text" />
        <mat-error
          *ngIf="
            signupForm.get('username')?.invalid &&
            signupForm.get('username')?.touched
          "
          >{{ getNameErrorMessage('username') }}
          <span *ngIf="signupForm.controls['username'].errors?.['usernameExist']">Username already exist</span>
          </mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
          >{{ getNameErrorMessage('email') }}
          <span *ngIf="signupForm.controls['email'].errors?.['emailExist']">Email already exist</span>
          </mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
        <mat-error
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
          >{{ getNameErrorMessage('password') }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input formControlName="confirmPassword" matInput type="password" />
        <mat-error
          *ngIf="
            signupForm.get('confirmPassword')?.invalid &&
            signupForm.get('confirmPassword')?.touched
          "
          >{{ getNameErrorMessage('confirmPassword') }}</mat-error
        >
        <span *ngIf="passwordMatchError">Password does not match</span>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signupForm.invalid || (this.asyncValidatorService._isCheckDataBase | async)"
      >
        Sign up
      </button>
    </form>
    <app-google-login-button class="d-flex justify-content-end"></app-google-login-button>
  </mat-card>
</div>
